<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="ru" />

    <style>
        .back {
            margin-top: 111px;
        }
    </style>
    <title>Error</title>
</head>
<body>
<div class="back" align="center">
    <form action="/users">
        <input type="submit" value="Repeat">
    </form>
    <p style="color: red">"Name should not be empty"</p>
    <p style="color: red">"Name should be between 2 and 32 characters"</p>
    <br>
    <p style="color: red">"Surname should not be empty"</p>
    <p style="color: red">"Surname should be between 2 and 64 characters"</p>
    <br>
    <p style="color: red">"Age should be greater than 0 less than 127"</p>
    <br>
    <p style="color: red">"E-mail should not be empty"</p>
    <p style="color: red">"E-mail should be valid"</p>
</div>

</body>
</html>